*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/

/.okbuck
**/BUCK
/buck-out
/.buckconfig.local
/.buckd
/.buckjavaargs.local
/.bucklogging.local.properties
/.nobuckcheck